services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: roka-moka-app
    restart: on-failure
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${APP_PORT_EXPOSE:-8080}:8080"
    networks:
      - hoka-moka-network

  db:
    image: postgres
    container_name: roka-moka-db
    restart: on-failure
    volumes:
      - ./db-data:/var/lib/postgresql/data/
      - ./initial-dump.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT_EXPOSE}:${DB_PORT}"
    networks:
      - hoka-moka-network

volumes:
  db-data:
    name: rokamoka-db
networks:
  hoka-moka-network:
    driver: bridge